*.[oa]
*~
*.swp
*.svg
*.png
*.jpg
.tkenvrc
out/
results/
src/TrackingWSN
simulations/.tkenvlog
simulations/results/*.vec
simulations/results/*.vci
simulations/results/*.sca
simulations/results/*.data
